.chart-container {
	/* height: 100%; */
	/* max-width: 80rem; */
	width: 200%;
	position: relative;
	/* padding: 1%; */
	/* padding: 100%; */
}

.loading-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
}

.app-element {
	max-width: 80rem;
}

.search {
	max-width: 40rem;
	width: 100%;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table {
	width: 100%;
	max-width: 80rem;
}
